img{
  max-width: 100%;
  height: auto;
}
.imagen{
  height: 400px;;
  width: 50%;
  background-image: url("../imagenes/gato.jpg");
  background-repeat: no-repeat;
  /*100% ancho y 100 de altura*/
  margin-left: auto;
  margin-right: auto;
}
.gradiente{
  width: 700px;
  height: 700px;
  background: linear-gradient(to bottom left, rgba(255,0,0,.1),rgba(255,0,0,1));
}
.transformacion{
  width: 100px;
  height: 100px;
  background-color: orange;
  transform: rotateX(45deg);
  /* scale(3,2) rotate(20deg) translate(100px,100px);*/
  /*rotate(45deg);*/
  /*gira en sentido horario*/
  /*translate(500px, 200px);*/
}
.transicion{
  width: 100px;
  height: 100px;
  background: pink;
  transition: background 2s, height 3s, transform 3s;
  /*transition-delay: 2s;*/
}
.transicion:hover{
/*cuando se ponen dos puntos es una acción, hover quiere decir que es cuando el mouse está arriba*/
background-color: purple;
height: 200px;
transform: rotate(20deg);
}

.animacion{
  width: 100px;
  height: 100px;
  background: blue;
  animation-name: animacion;
  animation-duration: 7s;
  animation-iteration-count: infinite;
}
@keyframes animacion {
  /*from {background-color: blue;}
  to {background-color:pink;}*/
  0% {background-color: blue;}
  25% {background-color: purple; height: 200px;}
  50% {background-color: pink;}
  80% {background-color: red;}
}

.memorama{
  width: 100px;
  height: 100px;
  background: blue;
  margin: 10px;
  color: blue;
  display: inline-block;


}

.memorama:hover{
/*cuando se ponen dos puntos es una acción, hover quiere decir que es cuando el mouse está arriba*/
background-color: pink;

}
