img{
  max-width: 100%;
  height: auto;
}
.imagen{
  height: 400px;;
  width: 100%;
  background-image: url("../imagenes/gato.jpg");
  background-repeat: no-repeat;
  /*100% ancho y 100 de altura*/
}

.gradiente{
  width: 700px;
  height: 700px;
  background: linear-gradient(to right, yellow,red);
}
